// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$c-dark: #333;
$c-white: #fff;
$c-red: #F44336;
$c-grey-50:#ddd;


$c-primary: #0C79D8;
$c-secondary: #001730;
